html {
  font-size: 62.5%;
}
body,
p,
section,
nav,
header,
h2,
h3,
h4,
h5 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li {
  list-style: none;
}
input {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
img {
  border: none;
  vertical-align: middle;
  cursor: pointer;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
body {
  font-size: 1.2rem;
  font-family: "微软雅黑";
}
.center {
  width: 990px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
i,
em,
strong {
  font-style: normal;
  font-weight: normal;
}
.head_a {
  color: #e4393c;
  border-bottom: 1px solid #e4393c;
}
header {
  width: 990px;
  margin: 0 auto;
}
header a {
  display: inline-block;
  float: left;
  height: 2.6rem;
  line-height: 2.6rem;
  font-size: 1.6rem;
  padding: 1rem 0;
  margin: 0 3rem 0 0;
  font-weight: 700;
  color: #333;
}
header a:nth-of-type(1) {
  color: #e4393c;
  border-bottom: 1px solid #e4393c;
}
.sec_one {
  width: 990px;
  margin: 0 auto;
  height: 3.2rem;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  background: #f3f3f3;
  border: 0.1rem solid #e9e9e9;
  color: #666;
}
.sec_one div {
  height: 3.2rem;
  float: left;
  line-height: 3.2rem;
}
.sec_one .dv1 {
  padding-left: 1.1rem;
  width: 12.2rem;
}
.sec_one .dv1 input {
  margin-right: 0.5rem;
}
.sec_one .dv2 {
  width: 20.8rem;
  margin-right: 17rem;
}
.sec_one .dv3 {
  width: 12rem;
  padding-right: 4rem;
  text-align: right;
}
.sec_one .dv4 {
  width: 8rem;
  text-align: center;
}
.sec_one .dv5 {
  width: 10rem;
  text-align: right;
  padding-right: 4rem;
}
.sec_one .dv6 {
  width: 7.5rem;
}
.sec_two {
  width: 990px;
  margin: 0 auto;
}
.sec_two .dv1 {
  height: 3rem;
}
.sec_two .dv1 input {
  margin-left: 1.1rem;
  margin-right: 0.5rem;
}
.sec_two .dv1 .two_a1 {
  font-weight: bold;
  line-height: 3rem;
  color: #666;
}
.sec_two .dv1 .two_a1:hover {
  color: #f30213;
}
.sec_two .dv1 span {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  margin-left: 1rem;
  vertical-align: middle;
  cursor: pointer;
  background: url(../img/icon.png) -8.4rem -4.9rem;
}
.sec_two .dv2 {
  border: 0.1rem solid #f1f1f1;
  border-top: 0.2rem solid #aaa;
  margin-bottom: 2rem;
}
.sec_two .ddvv1 {
  height: 2.6rem;
  padding: 0.5rem 1rem;
}
.sec_two .ddvv1 .a1 {
  line-height: 2.6rem;
  color: #666;
}
.sec_two .ddvv1 .a1:hover {
  color: #f30213;
}
.sec_two .ddvv1 .a1 span {
  display: inline-block;
  height: 1.6rem;
  line-height: 1.6rem;
  color: #f48719;
  border: 0.1rem solid #f48719;
  padding: 0.1rem 1rem;
  margin: 0 1rem 0 0.5rem;
}
.sec_two .ddvv1 .a2 {
  display: inline-block;
  height: 1.9rem;
  color: #fff;
  line-height: 1.9rem;
  padding: 0 0.7rem;
  border-radius: 0.2rem;
  background-color: #e74649;
  margin-left: 2rem;
}
.sec_two .ddvv1 .a2:hover {
  background-color: #f05356;
}
.sec_two .ddvv1 .a3 {
  color: #333;
}
.sec_two .ddvv2 .lef {
  width: 3rem;
  height: 2rem;
  float: left;
  padding: 1.5rem 0 1rem 1.1rem;
}
.sec_two .ddvv2 .rig {
  float: right;
  width: 94.7rem;
  height: 10.9rem;
  border-top: 0.1rem solid #f1f1f1;
}
.sec_two .ddvv2 .rig .dvdv1 {
  float: left;
  width: 30rem;
  padding: 1.5rem 0 1rem;
}
.sec_two .ddvv2 .rig .dvdv1 .ddv1 {
  float: left;
  width: 8rem;
  height: 8rem;
  border: 0.1rem solid #eee;
  margin-right: 1rem;
}
.sec_two .ddvv2 .rig .dvdv1 .ddv2 a {
  color: #333;
  line-height: 2rem;
}
.sec_two .ddvv2 .rig .dvdv1 .ddv2 a:hover {
  color: #e4393c;
}
.sec_two .ddvv2 .rig .dvdv1 .ddv2 p {
  line-height: 2.4rem;
  color: #6485cb;
}
.sec_two .ddvv2 .rig .dvdv1 .ddv2 p i {
  display: inline-block;
  width: 1.7rem;
  height: 1.6rem;
  vertical-align: middle;
  background: url(../img/icon.png) -5.4rem -2.3rem;
  margin-right: 0.7rem;
}
.sec_two .ddvv2 .rig .dvdv1 .ddv2 .p2 {
  display: inline-block;
  color: #aaa;
  cursor: pointer;
}
.sec_two .ddvv2 .rig .dvdv1 .ddv2 .p2 i {
  background: url(../img/icon.png) 0 -2.3rem;
}
.sec_two .ddvv2 .rig .dvdv1 .ddv2 .p2:hover {
  color: #f30213;
}
.sec_two .ddvv2 .rig .dvdv2 {
  float: left;
  width: 13rem;
  height: 8rem;
  padding: 1.5rem 0 0 2rem;
}
.sec_two .ddvv2 .rig .dvdv2 p {
  color: #666;
  line-height: 2rem;
}
.sec_two .ddvv2 .rig .dvdv3 {
  float: left;
  width: 15rem;
  height: 4.5rem;
  padding: 1.5rem 4rem 1rem 0;
  text-align: right;
}
.sec_two .ddvv2 .rig .dvdv3 p .spa1 {
  display: inline-block;
  padding: 0.1rem 0.2rem;
  color: #e4393c;
  border: 0.1rem solid #f9d2d3;
  cursor: pointer;
}
.sec_two .ddvv2 .rig .dvdv3 p .spa2 {
  display: inline-block;
  height: 1.8rem;
  border: 0.1rem solid #f9d2d3;
  color: #e4393c;
  padding: 0 0.5rem;
  vertical-align: top;
  margin-left: 0.5rem;
  cursor: pointer;
}
.sec_two .ddvv2 .rig .dvdv4 {
  float: left;
  width: 8rem;
  height: 4.2rem;
  padding: 1.5rem 0 1rem;
  text-align: center;
}
.sec_two .ddvv2 .rig .dvdv4 .jian {
  display: inline-block;
  width: 1.6rem;
  height: 1.8rem;
  padding: 0.1rem 0;
  line-height: 1.8rem;
  border: 0.1rem solid #cacbcb;
  border-right: none;
}
.sec_two .ddvv2 .rig .dvdv4 input {
  width: 4.2rem;
  height: 1.8rem;
  padding: 0.1rem;
  border: 0.1rem solid #cacbcb;
  line-height: 1.8rem;
  vertical-align: top;
  text-align: center;
  margin-left: -0.4rem;
}
.sec_two .ddvv2 .rig .dvdv4 .jia {
  display: inline-block;
  width: 1.6rem;
  height: 1.8rem;
  padding: 0.1rem 0;
  line-height: 1.8rem;
  border: 0.1rem solid #cacbcb;
  border-left: none;
  margin-left: -0.4rem;
}
.sec_two .ddvv2 .rig .dvdv4 span {
  color: #aaa;
}
.sec_two .ddvv2 .rig .dvdv5 {
  float: left;
  text-align: right;
  width: 10rem;
  height: 2rem;
  padding: 1.5rem 4rem 1rem 0;
}
.sec_two .ddvv2 .rig .dvdv5 strong {
  font-weight: bold;
  line-height: 2rem;
}
.sec_two .ddvv2 .rig .dvdv6 {
  float: left;
  width: 7.5rem;
  height: 6rem;
  padding: 1.5rem 0 1rem;
}
.sec_two .ddvv2 .rig .dvdv6 a {
  color: #666;
  line-height: 2rem;
}
.sec_two .ddvv2 .rig .dvdv6 a:hover {
  color: #e4393c;
}
.sec_two .ddvv2 .dvdv7 {
  float: right;
  width: 94.8rem;
  margin-bottom: 1.1rem;
}
.sec_two .ddvv2 .dvdv7 p {
  cursor: pointer;
  line-height: 2rem;
}
.sec_two .ddvv2 .dvdv7 p a {
  display: inline-block;
  width: 31rem;
  color: #999;
}
.sec_two .ddvv2 .dvdv7 p a:hover {
  color: #e4393c;
}
.sec_two .ddvv2 .dvdv7 p i {
  color: #999;
  margin: 0 0.5rem;
}
.sec_two .ddvv2 .dvdv7 p span {
  margin-left: 1rem;
}
.sec_two .ddvv2 .dvdv7 p span:hover {
  color: #e4393c;
}
.sec_thr {
  width: 990px;
  margin: 0 auto;
}
.sec_thr .dv1 {
  line-height: 3rem;
}
.sec_thr .dv1 span {
  display: inline-block;
  width: 5.4rem;
  height: 1.8rem;
  text-align: center;
  line-height: 1.8rem;
  background: #e4393c;
  color: #fff;
  border-radius: 0.3rem;
  margin-left: 0.5rem;
}
.sec_thr .dv2 {
  margin-bottom: 0;
}
.sec_thr .ddvv2 .rig .dvdv1 .ddv2 em {
  width: 5.8rem;
  height: 1.6rem;
  margin-right: 0.5rem;
}
.sec_thr .ddvv2 .rig .dvdv1 .ddv2 p {
  color: #aaa;
}
.sec_thr .ddvv2 .rig .dvdv1 .ddv2 p i {
  background: url(../img/icon.png) -8.1rem -2.3rem;
}
.sec_thr .ddvv2 .rig .dvdv1 .ddv2 .p2 i {
  background: url(../img/icon.png) -2.7rem -2.3rem;
}
.sec_thr .ddvv2 .rig .dvdv5 p {
  color: #666;
}
.sec_four .dv2 {
  border-top-width: 0.1rem;
  margin-bottom: 2rem;
}
.sec_fiv {
  width: 990px;
  margin: 0 auto;
  height: 5rem;
  border: 0.1rem solid #e9e9e9;
}
.sec_fiv .dv1 {
  float: left;
  height: 1.8rem;
  padding: 1.6rem 0 1.6rem 0.9rem;
}
.sec_fiv .dv1 span {
  margin-left: 0.5rem;
  color: #666;
}
.sec_fiv .rig {
  float: right;
}
.sec_fiv .dv2 {
  float: left;
  line-height: 5rem;
}
.sec_fiv .dv2 a {
  margin-left: 1rem;
  color: #666;
}
.sec_fiv .dv2 a:hover {
  color: #e4393c;
}
.sec_fiv .dv3 {
  float: left;
  color: #999;
  margin-top: 0.7rem;
}
.sec_fiv .dv3 i {
  color: #e4393c;
  font-weight: bold;
}
.sec_fiv .dv4 {
  float: left;
  color: #999;
  margin: 0.4rem 2rem 0 1rem;
}
.sec_fiv .dv4 p {
  line-height: 2rem;
}
.sec_fiv .dv4 span {
  font-size: 1.6rem;
  font-weight: 700;
  color: #e4393c;
}
.sec_fiv .dv4 em {
  color: #666;
}
.sec_fiv .dv5 {
  float: left;
  width: 9.6rem;
  height: 5rem;
  background: #e54346;
  text-align: center;
  color: #fff;
  font-weight: bold;
  line-height: 5rem;
  font-size: 1.8rem;
  cursor: pointer;
}
